:root {
    --button-bg-color: #000000;
    --button-hover-bg-color: #333;
    --button-text-color: #fff;
    --footer-font-size: 14px;
    --link-color: rgba(0, 0, 0, 0.6);
    --header-padding: 5px 0;
    --header-font-size: 1.3em;
    --margin-bottom: 15px;
    --transition-duration: 0.3s;
}

body {
    text-align: center;
}

.container div, .box .mdui-btn, .mdui-chip, #retry {
    margin-bottom: 15px;
}

#btn-2, #btn-1 {
    margin-bottom: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box {
    align-items: center;
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    transition: background-color var(--transition-duration), box-shadow var(--transition-duration);
}

button:hover {
    background-color: var(--button-hover-bg-color);
}

.btn-2, #retry {
    display: none;
}

#retry {
    width: auto;
}

.footer-box {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    font-size: var(--footer-font-size);
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

a, span {
    text-decoration: none;
    color: var(--link-color);
    cursor: pointer;
    transition: .25s;
}

header {
    padding: var(--header-padding);
    display: flex;
    width: 90%;
    margin: auto;
}

header img {
    padding-left: 10px;
}

header h3 {
    margin: 0;
    font-size: var(--header-font-size);
    padding-left: 10px;
}

.header {
    text-decoration: none;
    color: #333;
}

/* 弹出框优化 */
.mdui-dialog {
    border-radius: 8px;
    overflow: hidden;
    background-color: #f9f9f9; /* 更改背景颜色 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* 添加阴影 */
    animation: fadeInDown 0.5s ease;
}

.mdui-dialog-title {
    font-size: 1.8em;
    font-weight: bold;
    color: #333;
    background-color: #333;
    padding: 16px;
}

.mdui-dialog-content {
    padding: 16px;
    font-size: 1.2em;
    color: #666;
}

.mdui-dialog-actions {
    background-color: #f5f5f5;
    padding: 8px;
    text-align: right;
}

.mdui-dialog-actions .mdui-btn {
    margin: 0 4px;
    background-color: #007bff; /* 按钮背景颜色 */
    color: white; /* 按钮文字颜色 */
    border-radius: 5px; /* 按钮圆角 */
    border: none; /* 移除按钮边框 */
    transition: background-color 0.3s; /* 悬停时颜色变化动画 */
}

.mdui-dialog-actions .mdui-btn:hover {
    background-color: #0056b3; /* 悬停时的背景颜色 */
}

/* 新增动画效果 */
@keyframes fadeInDown {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}