:root {
    --button-bg-color: #000000;
    --button-hover-bg-color: #333;
    --button-text-color: #fff;
    --footer-font-size: 14px;
    --link-color: rgba(0, 0, 0, 0.6);
    --header-padding: 5px 0;
    --header-font-size: 1.3em;
    --margin-bottom: 15px;
    --transition-duration: 0.3s;
}

body {
    text-align: center;
}

.container div, .box .mdui-btn, .mdui-chip, #retry {
    margin-bottom: var(--margin-bottom);
}

#btn-2, #btn-1 {
    margin-bottom: 0;
}

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.box {
    align-items: center;
    display: flex;
    flex-direction: column;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    border-radius: 10px;
    background-color: var(--button-bg-color);
    color: var(--button-text-color);
    transition: background-color var(--transition-duration), box-shadow var(--transition-duration);
}

button:hover {
    background-color: var(--button-hover-bg-color);
}

.btn-2, #retry {
    display: none;
}

#retry {
    width: auto;
}

.footer-box {
    position: fixed;
    bottom: 10px;
    left: 0;
    width: 100%;
    font-size: var(--footer-font-size);
    text-align: center;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-delay: 0s;
}

a, span {
    text-decoration: none;
    color: var(--link-color);
    cursor: pointer;
    transition: color var(--transition-duration);
}

header {
    padding: var(--header-padding);
    display: flex;
    width: 90%;
    margin: auto;
}

header img {
    padding-left: 10px;
}

header h3 {
    margin: 0;
    font-size: var(--header-font-size);
    padding-left: 10px;
}

.header {
    text-decoration: none;
    color: var(--button-hover-bg-color);
}

@media (max-width: 600px) {
    button {
        font-size: 0.8em;
        padding: 8px 16px;
    }

    header h3 {
        font-size: 1em;
    }
}
