@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

:root {
    --font-main: 'Google Sans', sans-serif;
}

body {
    font-family: var(--font-main), Arial, sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.p {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.a {
    font-size: 12px;
    color: #999;
    text-decoration: none;
}

header {
    background-color: #f8f9fa;
    padding: 5px 0;
    display: flex;
    justify-content: center; /* 使header内容水平居中 */
    align-items: center; /* 使header内容垂直居中 */
    width: var(--width);
    border-bottom: 0.5px solid #999;
}

header img {
    padding-left: 10px;
}

header h3 {
    margin: 0;
    font-size: 1.3em;
    padding-left: 10px;
}

.header {
    text-decoration: none;
    color: #333;
}

h2 {
    margin-top: 50px;
}

/* footer样式修正，使用flex布局将footer推至底部 */
footer {
    margin-top: auto; /* 将footer推至底部 */
    padding: 10px 0;
    text-align: center;
    font-size: 0.8em;
    color: #999;
    width: 100%;
}

/* 按钮样式，独立于footer */
button, .btn {
    padding: 8px 15px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    background-color: #121212;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    display: block; /* 使按钮宽度可以设置为百分比 */
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

button:hover {
    background-color: #888;
}

/* 重置select的默认样式 */
#category {
    margin: 10px 0;
    padding: 7px 30px 7px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    
    width: 70%; /* 设置select宽度为父容器的70% */
    margin-left: auto;
    margin-right: auto;
}

#category option {
    padding: 5px;
    color: #121212;
    background-color: #f9f9f9;
}

#category:focus {
    border-color: #666;
    outline: none;
}

/* 显示食物信息的div样式 */
#food-info {
    margin-top: 25px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-height: 80px;
    width: 70%; /* 设置#food-info宽度为父容器的70% */
    margin-left: auto;
    margin-right: auto;
}