body {
    font-family: 'Google Sans', sans-serif;
    margin: 0;
    padding: 20px;
    text-align: center;
    background-color: #f8f9fa;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.p {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    text-align: center;
    margin-top: 10px;
}

.a {
    font-size: 12px;
    color: #999;
    text-decoration: none;
}

header {
    background-color: #f8f9fa;
    padding: 5px 2px;
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    width: 100%;
    border-bottom: 0.5px solid #999;
}

.header-left {
    display: flex; /* 弹性布局 */
    align-items: center; /* 水平居中 */
}

.header-right {
    text-align: right; /* 右对齐 */
}

.header-right p {
    margin: 0;
    font-size: 14px;
    color: #666;
    padding-right: 10px;
}

header img {
    padding-left: 10px;
}

header h3 {
    margin: 0;
    font-size: 1.3em;
    padding-left: 10px;
}

.header {
    text-decoration: none;
    color: #333;
}

h2 {
    margin-top: 50px;
}

footer {
    margin-top: auto;
    padding: 10px 0;
    text-align: center;
    font-size: 0.8em;
    color: #999;
    width: 100%;
}

button, .btn {
    padding: 8px 15px;
    margin: 10px auto;
    border: none;
    border-radius: 5px;
    background-color: #121212;
    color: white;
    font-size: 16px;
    cursor: pointer;
    outline: none;
    width: 70%;
}

button:hover {
    background-color: #888;
}

#category {
    margin: 10px auto;
    padding: 7px 30px 7px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    color: #333;
    font-size: 16px;
    width: 70%;
}

#category option {
    padding: 5px;
    color: #121212;
    background-color: #f9f9f9;
}

#category:focus {
    border-color: #666;
    outline: none;
}

#food-info {
    margin-top: 25px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    min-height: 100px;
    width: 70%;
    margin: 10px auto;
}
