@import url('https://fonts.googleapis.com/css2?family=Google+Sans&display=swap');

:root {
    --font-main: 'Google Sans', sans-serif;  /*更改字体*/
    --width: 100%; /* 页面最大宽度 */
}

body {
    font-family: 'Google Sans', Arial, sans-serif; /*更改字体*/
    margin: 0; /*更改外边距*/
    padding: 20px; /*更改内边距*/
    text-align: center; /*更改文本对齐方式*/
    background-color: #f8f9fa; /*更改背景颜色*/
    align-items: center; /* 水平居中 */
    justify-content: center; /* 垂直居中 */
    flex-direction: column; /* 垂直方向布局 */

}

body > * {
    margin-top: 10px; /* 添加顶部间距 */
}

header {
    background-color: #f8f9fa; /*更改背景颜色*/
    padding: 5px 0; /*更改内边距*/
    display: flex; /*更改显示方式*/
    width: 100%; /* 宽度为100% */
}

header img {
    padding-left: 10px; /*更改内边距*/
}

header h3 {
    margin: 0; /*更改外边距*/
    font-size: 1.3em; /*更改字体大小*/
    padding-left: 10px; /*更改外边距*/
}

header p {
    margin: 0; /*更改外边距*/
    flex-grow: 1; /*更改宽度*/
    text-align: right; /*更改文本对齐方式*/
    margin-right: 10px; /*更改外边距*/
    font-size: 0.8em; /*更改字体大小*/
}

h2 {
    margin-top: 50px; /*更改外边距*/
}

#food-info {
    font-size: 1em; /*更改字体大小*/
    margin-top: 30px; /*更改外边距*/
    background-color: #fff; /*更改背景颜色*/
    padding: 25px; /*更改内边距*/
    border-radius: 20px; /*更改边框圆角*/
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /*更改阴影*/
}

select {
    padding: 10px 20px; /*更改内边距*/
    font-size: 1em; /*更改字体大小*/
    border-radius: 5px; /*更改边框圆角*/
    background-color: #f8f9fa; /*更改背景颜色*/
    color: #333; /*更改文本颜色*/
    cursor: pointer; /*更改鼠标悬停时的光标形状*/
    appearance: none; /*去除默认的下拉箭头*/
    background-image: url('data:image/svg+xml;utf8,<svg fill="black" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24" height="24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/></svg>');
    background-repeat: no-repeat; /*去除默认的下拉箭头*/
    background-position: right 10px center; /*更改下拉箭头的位置*/
    padding-right: 30px; /*更改下拉箭头的宽度*/
}

button {
    padding: 10px 20px; /*更改内边距*/
    font-size: 1em; /*更改字体大小*/
    border: none; /*去除按钮边框*/
    cursor: pointer; /*更改鼠标悬停时的光标形状*/
    margin-top: 20px; /*更改外边距*/ 
    border-radius: 4px; /*更改边框圆角*/ 
    background-color: #000000; /* 更改按钮颜色 */
    color: #fff; /* 更改按钮文本颜色 */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 更改按钮阴影 */
    transition: background-color 0.3s, box-shadow 0.3s; /* 更改按钮动画 */
}

button:hover {
    background-color: #333; /* 更改按钮颜色 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* 更改按钮阴影 */
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 0.8em;
    color: #999;
    background-color: #f8f9fa; /* 添加背景色，便于查看 */
    padding: 10px 0; /* 添加上下内边距 */
}

footer button {
    margin-left: 10px;
    margin-right: 10px;
    border: none;
    cursor: pointer;
    font-size: 1em;
    background-color: transparent; /* 设置背景颜色为透明 */
    color: #333; /* 设置文字颜色 */
    outline: none; /* 去除点击时的虚线框 */
}

footer button:hover {
    text-decoration: none; /* 鼠标悬停时去除下划线 */
}

/* 导航栏透明 */
nav {
    background-color: transparent; /* 设置背景色为透明 */
    backdrop-filter: blur(10px); /* 设置模糊效果 */
}
